<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.santimattius.android.deeplink.watcher">

    <application>
        <activity
            android:name=".internal.feature.viewer.DeepLinksViewerActivity"
            android:exported="true"
            android:label="@string/title_activity_deeplinks_viewer"
            android:theme="@style/Theme.DeeplinkWatcher">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="dw" />
                <data android:host="santimattius" />
                <data android:pathPrefix="/viewer" />

            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.santimattius.android.deeplink.watcher.internal.initializer.DeeplinkWatcherInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>