<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.santimattius.android.deeplink.watcher">

    <application>
        <activity
            android:name=".internal.feature.viewer.DeeplinksViewerActivity"
            android:exported="false"
            android:label="@string/title_activity_deeplinks_viewer"
            android:theme="@style/Theme.DeeplinkWatcher" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.santimattius.android.deeplink.watcher.internal.initializer.DeeplinkWatcherInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>